sphinx
sphinx-rtd-theme
sphinx-design
sphinx-tabs
astropy
Bottleneck
drizzlepac
matplotlib
miniutils
numpy=>2.0.0
pandas
scipy
tqdm
setuptools
dill
multiprocess
psutil
healpy
astropy-healpix
celluloid
LSSTDESC.Coord
skyfield
pytest
ipython
pysiaf
ephem
pysolar
numexpr
reproject
astroquery @ git+https://github.com/snbianco/astroquery.git@mast-beta-release 
scipy>=1.18.0
pyarrow
ephessos
crds
twine
s3fs
zodipy
dotenv